{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name = "description" content = "{% trans from 'cours-particuliers' %} descriptionPAR {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'cours-particuliers' %} keywordPAR {% endtrans %}" >
    <meta name="author" content="semanticatechnologies.com - Douala Bonamoussadi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}
    {% trans from 'about' %} about.title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }

        .manuels-img {
            width: 18%;
        }
        .manuels-img {
            width: 18%;
        }
        .horaire {
            display: inline-block;
            padding: 1%;
            margin: 1%;
            background: white;
        }
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-img{
            width: 40%;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }

        .sous-menu {
            background-color: #f16e00;
            color: white;
            font-size: 200%;
            text-align: center;
        }

        table.table01 {
            width: 90%;
            color: #f16e00;
            background-color: white;

        }


        table.table01 td,th {
            padding: 2%;
            margin: 5px!important;
            border: 5px solid transparent!important;
        }

        .table02 {
            width: 100%;
            background-color: #f16e00;
            color: white;
            border-collapse: separate;
        }

        .table03 {
            width: 100%;
            background-color: #0000cc;
            color: white;
            border-collapse: separate;
        }

        .abc {
            border: 5px solid transparent;
        }

    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}


{% endblock %}

{% block  mainLg %}

    <div id="main_home">

        <div class="sous-menu">
            Cours Particuliers
        </div>


        <div class="flex-contain">

            <div class="left-nav">

                {% block left_nav %}
                    {% include 'MainBundle:Inc:left_nav.html.twig' %}
                {% endblock %}

            </div>

            <div class="main-contain-middle">

                <div class="baniere cat-container">

                    <img class="baniere-img categorie" src="{{ asset('data/img/coursParticulier.jpg') }}" alt="">

                    <div class="baniere-msg categorie ">
                        <h2>{% trans from 'anglais' %} coursVACANCES {% endtrans %}</h2> <BR>
                        {% trans from 'anglais' %} object3 {% endtrans %}
                    </div>

                    <!--
                    <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">

                        {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
                    </div>
-->

                </div>

                <div class="row line">
                    <div>  {% trans from 'anglais' %} serviceVACANCES {% endtrans %} </div>

                </div>


                <div class="cat-container">
                    <div class="">
                        <div class="category-title">
                            <h3>{% trans from 'ctihome' %} prochaineRentree {% endtrans %}:
                                {% trans from 'ctihome' %} debutDesCours {% endtrans %}
                            </h3>
                        </div>
                        <div class="datecours">
                            <div class="annonce-inscription">
                                Les Inscriptions sont en cours. Il y a encore quelques places disponibles.
                            </div>
                        </div>
                    </div>
                </div>



                <div class="cat-container">
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_allemand') }}"> COURS D'ANGLAIS INTENSIF POUR TOUS </a></h3>
                        </div>

                        <div class="category-desktop-contain">
                            Le Churchill Training Institute vous offre des cours d'Anglais de qualité:
                            <ul>
                                <li>Enseignants Qualifiés</li>
                                <li>Programme de cours conçu selon le Cadre Européen Commun de Référence pour les Langues (CECR).</li>
                                <li>Cadre agréable et Propice aux études</li>
                                <li>Matériel didactique au point </li>
                                <li>Salles Climatisées </li>
                            </ul>
                            Nous préparons les candidats aux tests d'Anglais Nécessaires pour obtenir un visa étudiant, booster votre carrière ou vos affaires
                            ( TOEFL, IELTS, TOEIC ).
                        </div>

                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_anglais') }}"> MANUELS REQUIS </a></h3>
                        </div>
                        Pour votre formation, vous avez droit aux meilleurs manuels d'apprentissage.<br>
                        Nos cours sont conçus d’après le Cadre Européen Commun de Référence pour les Langues (CECR).<br>
                        <div class="category-desktop-contain">
                            <img class="manuels-angl-img" src="{{ asset('data/img/englishUnlimited2.jpg') }}">
                            <img class="manuels-angl-img" src="{{ asset('data/img/english-unlimited-elementary-a-combo-with-dvd-roms-2.png') }}">
                            <img class="manuels-angl-img" src="{{ asset('data/img/Official-toelf-Test-Prep.jpg') }}">
                            <img class="manuels-angl-img" src="{{ asset('data/img/IELTS-Cambridge-Books.jpg') }}">
                            <img class="manuels-angl-img" src="{{ asset('data/img/englishUnlimited1.png') }}">
                        </div>
                        <div class="category-desktop-contain">


                        </div>

                    </div>


                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_informatique') }}">HORAIRES DE COURS</a></h3>
                        </div>

                        Choisissez vos heures de cours en fonction de votre disponibilité. <br>

                        <div class="">
                            <div class=" horaire ">
                                <div class="news-title"><h4>Matinées</h4></div>

                                <div class="news-title"><p>08H00 - 10h00</p></div>
                            </div>

                            <div class=" horaire ">
                                <div class="news-title"><h4>Après-midi</h4></div>

                                <div class="news-title"><p>14H00 - 16h00</p></div>
                            </div>

                            <div class="horaire">
                                <div class="news-title"><h4>Cours du Soirs</h4></div>

                                <div class="news-title"><p>18H30 - 20h30</p></div>
                            </div>

                        </div>


                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_anglais') }}">Cours aux particuliers</a></h3>
                        </div>
                        Cours basés sur des contenus particuliers, destinés à des groupes-cibles spéciaux ou pour
                        l’exercice d’aptitudes uniques: <br><br>
                        N’hésitez pas à nous contacter si vous souhaitez suivre une formation à la carte dans un
                        de nos domaines de compétence.
                    </div>
                </div>

                <div class="cat-container">
                    <div class="">
                        <div class="datecours annonce-inscription">
                            Choisissez une de nos rentrées pour vos cours du jour et soir en Anglais (2017-2018)
                        </div>
                        <table class="table02">
                            <tr>
                                <td class="abc"> 16 janv  </td>
                                <td class="abc"> 20 fev  </td>
                                <td class="abc"> 05 mar  </td>
                                <td class="abc"> 02 avr  </td>
                                <td class="abc"> 07 mai  </td>
                                <td class="abc"> 04 juin  </td>
                                <td class="abc"> 02 juil  </td>
                                <td class="abc"> 06 aoû  </td>
                                <td class="abc"> 3 sep  </td>
                                <td class="abc"> 01 oct </td>
                                <td class="abc"> 05 nov  </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <!--
                                <div class="cat-container">
                                    <div class="">
                                        <div class="datecours annonce-inscription">
                                            <br><br>
                                            Date des examens internationaux en anglais (2017-2018)
                                        </div>
                                        <table class="table03">
                                            <tr>
                                                <td class="abc"> 27 janv  </td>
                                                <td class="abc"> 20 fev  </td>
                                                <td class="abc"> 31 mar  </td>
                                                <td class="abc"> 28 avr  </td>
                                                <td class="abc"> 26 mai  </td>
                                                <td class="abc"> 30 juin  </td>
                                                <td class="abc"> 17 juil  </td>
                                                <td class="abc"> 25 aoû  </td>
                                                <td class="abc"> 29 sep  </td>
                                                <td class="abc"> 27 oct  </td>
                                                <td class="abc"> 24 nov  </td>
                                                <td class="abc"> 29 dec  </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                -->



                <!--
        <div class="row section admission">
            <h2 class="bloc-title">  {% trans from 'allemand' %} coursDispo {% endtrans %} </h2>
            <div class="inner padding">
                <div class="flex">
                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat A1</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZA1</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gza1 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat A2</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZA2</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gza2 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat B1</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZB1</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gzb1 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat B2</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZB2</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gzb2 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>


                </div>
            </div>

        </div>
        -->




                <div class="separator"></div>




            </div>
        </div>



        <div class="section programmes-main-div ">
            {% block ACTUALITE %}
                {% include 'MainBundle:Inc:actualites.html.twig' %}
            {% endblock %}

        </div>








    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}