{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'about' %} about.block14 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'about' %} about.block15 {% endtrans %}" >
    <meta charset="utf-8">

{% endblock %}
{% block title %}
    {% trans from 'formation-continu' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }
/*
        .manuels-img {
            width: 18%;
        }
        .manuels-img {
            width: 18%;
        }
        .horaire {
            display: inline-block;
            padding: 1%;
            margin: 1%;
            background: white;
        }
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-img{
            width: 40%;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }

        .sous-menu {
            background-color: #f16e00;
            color: white;
            font-size: 200%;
            text-align: center;
        }
        .but {
            color: #221199;
        }
        table.table01 {
            width: 90%;
            color: #f16e00;
            background-color: white;

        }


        table.table01 td,th {
            padding: 2%;
            margin: 5px!important;
            border: 5px solid transparent!important;
        }

        .table02 {
             width: 100%;
             background-color: #f16e00;
             color: white;
             border-collapse: separate;
         }

        .table03 {
            width: 100%;
            background-color: #0000cc;
            color: white;
            border-collapse: separate;
        }

        .abc {
            border: 5px solid transparent;
        }
*/


    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}


{% endblock %}

{% block  mainLg %}

    <div id="main_home">

        <div class="sous-menu">
            {% trans from 'formation-continu' %} continuANGL {% endtrans %}
        </div>


        <div class="flex-contain">

            <div class="left-nav">

                {% block left_nav %}
                    {% include 'MainBundle:Inc:left_nav.html.twig' %}
                {% endblock %}
            </div>

            <div class="main-contain-middle">

                <div class="baniere cat-container">

                    <img class="baniere-img categorie" src="{{ asset('data/img/students3.jpg') }}" alt="">

                    <div class="baniere-msg categorie ">
                        <h2>{% trans from 'formation-continu' %} formationCONTINUE {% endtrans %}</h2> <BR>
                        {% trans from 'formation-continu' %} object {% endtrans %}
                    </div>

                    <!--
                    <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">

                        {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
                    </div>
-->

                </div>

                <div class="row line">
                    <div>  {% trans from 'formation-continu' %} serviceCONTINUE {% endtrans %} </div>

                </div>



                <div class="cat-container">
                    <div class="">
                        <div class="category-title">
                            <h3>{% trans from 'ctihome' %} prochaineRentree {% endtrans %}:
                                {% trans from 'ctihome' %} debutDesCours {% endtrans %}
                            </h3>
                        </div>
                        <div class="datecours">
                            <div class="annonce-inscription">
                                {% trans from 'ctihome' %} placesDISPO {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>



                <div class="cat-container">
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_FormationContinue') }}"> {% trans from 'formation-continu' %} FReg {% endtrans %} </a></h3>
                        </div>
                        <div class="importante"> {% trans from 'formation-continu' %} freq0 {% endtrans %} </div>

                        <div class="datecours">
                            {% trans from 'formation-continu' %} detail0 {% endtrans %}
                        </div>

                        <div class="annonce-inscription but">
                            {% trans from 'formation-continu' %} messag0 {% endtrans %}
                        </div>

                        <div class="category-desktop-contain">
                            <table class="table01">
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl0Elt1 {% endtrans %}  </th>
                                    <td> A1, A2, B1, B2, C1, C2 </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl0Elt2 {% endtrans %}  </th>
                                    <td> IELTS, TOEFL,TOEIC </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl0Elt3 {% endtrans %}  </th>
                                    <td> {% trans from 'formation-continu' %} tbl0Elt4 {% endtrans %} </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl0Elt5 {% endtrans %}  </th>
                                    <td> {% trans from 'formation-continu' %} tbl0Elt6 {% endtrans %} </td>
                                </tr>

                            </table>
                        </div>

                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_FormationContinue') }}"> {% trans from 'formation-continu' %} FRegAcc {% endtrans %} </a></h3>
                        </div>
                        <div class="importante"> {% trans from 'formation-continu' %} freq1 {% endtrans %} </div>

                        <div class="datecours">
                            {% trans from 'formation-continu' %} detail2 {% endtrans %}
                        </div>

                        <div class="annonce-inscription but">
                            {% trans from 'formation-continu' %} messag1 {% endtrans %}
                        </div>

                        <div class="category-desktop-contain">
                            <table class="table01">
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl1Elt1 {% endtrans %}  </th>
                                    <td> A1, A2, B1, B2, C1, C2 </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl1Elt2 {% endtrans %}  </th>
                                    <td> IELTS, TOEFL,TOEIC </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl1Elt3 {% endtrans %}  </th>
                                    <td> {% trans from 'formation-continu' %} tbl1Elt4 {% endtrans %} </td>
                                </tr>
                                <tr>
                                    <th> {% trans from 'formation-continu' %} tbl1Elt5 {% endtrans %}  </th>
                                    <td> {% trans from 'formation-continu' %} tbl1Elt6 {% endtrans %} </td>
                                </tr>

                            </table>
                        </div>

                    </div>


                    <div class="categorie">
                        <div class="category-title">
                            <h3> {% trans from 'cours-intensifs' %} HORAIRES {% endtrans %} </h3>
                        </div>

                        {% trans from 'cours-intensifs' %} messagHORAIRE {% endtrans %}

                        <div class="">
                            <div class=" horaire ">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode1 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures1 {% endtrans %} </p></div>
                            </div>

                            <div class=" horaire ">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode2 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures2 {% endtrans %}</p></div>
                            </div>

                            <div class="horaire">
                                <div class="news-title"><h4>{% trans from 'cours-intensifs' %} periode3 {% endtrans %}</h4></div>

                                <div class="news-title"><p>{% trans from 'cours-intensifs' %} heures3 {% endtrans %}</p></div>
                            </div>

                        </div>


                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3><a href="{{ path('main_CoursParticulier') }}">{% trans from 'formation-continu' %} crsParti {% endtrans %}</a></h3>
                        </div>
                        {% trans from 'formation-continu' %} presentationCoursParti {% endtrans %}
                    </div>
                </div>

                <div class="cat-container">
                    <div class="">
                        <div class="datecours annonce-inscription">
                            {% trans from 'ctihome' %} choixRENTREE {% endtrans %}
                        </div>
                        <table class="table02">
                            <tr>
                                <td class="abc"> {% trans from 'ctihome' %} rentree1 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree2 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree3 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree4 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree5 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree6 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree7 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree8 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree9 {% endtrans %}  </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree10 {% endtrans %} </td>
                                <td class="abc"> {% trans from 'ctihome' %} rentree11 {% endtrans %}  </td>
                            </tr>

                        </table>
                    </div>
                </div>
<!--
                <div class="cat-container">
                    <div class="">
                        <div class="datecours annonce-inscription">
                            <br><br>
                            Date des examens internationaux en anglais (2017-2018)
                        </div>
                        <table class="table03">
                            <tr>
                                <td class="abc"> 27 janv  </td>
                                <td class="abc"> 20 fev  </td>
                                <td class="abc"> 31 mar  </td>
                                <td class="abc"> 28 avr  </td>
                                <td class="abc"> 26 mai  </td>
                                <td class="abc"> 30 juin  </td>
                                <td class="abc"> 17 juil  </td>
                                <td class="abc"> 25 aoû  </td>
                                <td class="abc"> 29 sep  </td>
                                <td class="abc"> 27 oct  </td>
                                <td class="abc"> 24 nov  </td>
                                <td class="abc"> 29 dec  </td>
                            </tr>

                        </table>
                    </div>
                </div>
-->


                <!--
        <div class="row section admission">
            <h2 class="bloc-title">  {% trans from 'allemand' %} coursDispo {% endtrans %} </h2>
            <div class="inner padding">
                <div class="flex">
                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat A1</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZA1</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gza1 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat A2</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZA2</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gza2 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat B1</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZB1</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gzb1 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat B2</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZB2</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gzb2 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>


                </div>
            </div>

        </div>
        -->




                <div class="separator"></div>




            </div>
        </div>



        <div class="section programmes-main-div ">
            {% block ACTUALITE %}
                {% include 'MainBundle:Inc:actualites.html.twig' %}
            {% endblock %}

        </div>








    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}