
<div class="mnav-wrapper">

<div id="cti-mobile-nav-top">
    <div class="mobile-nav-header">
        <div class="nav-title">Churchill Training Institute</div>


        <div class="navbtn">
            <div class="social-div-item mobile-bars"><i class="fa fa-bars" style="font-size:40px;color:tomato"></i></div>
        </div>
    </div>
</div>




<div id="cti-mobile-nav" xmlns="http://www.w3.org/1999/html">



    <ul class="mlist">


        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>LANGUE ANGLAIS</h2></div>
                <p class="fcontent">
                    <span><a href="{{  path('main_CoursIntensifs') }}"> {% trans from 'ctinav' %} CI {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_FormationContinue') }}"> {% trans from 'ctinav' %} FC {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_PourEntreprises') }}"> {% trans from 'ctinav' %} PE {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_CoursParticulier') }}"> {% trans from 'ctinav' %} CP {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_CoursDeVacances') }}"> {% trans from 'ctinav' %} CV {% endtrans %} </a></span><br>

                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>LANGUE ALLEMANDE</h2></div>
                <p class="fcontent">
                    <span><a href="{{  path('main_etudierEnAllemagne') }}"> {% trans from 'ctinav' %} etudeAll {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_regroupementFamilial') }}"> {% trans from 'ctinav' %} regrFamill {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_CoursParticuliersdAll') }}"> {% trans from 'ctinav' %} coursParti {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_CoursSpecialise') }}"> {% trans from 'ctinav' %} coursSpec {% endtrans %} </a></span><br>

                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>INFORMATIQUE</h2></div>
                <p class="fcontent">

                    <span><a href="{{  path('main_LogicielsBureautique') }}"> {% trans from 'ctinav' %} logiBur {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_Design') }}"> {% trans from 'ctinav' %} art {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_Internet') }}"> {% trans from 'ctinav' %} internet {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_AppliWeb') }}"> {% trans from 'ctinav' %} appWeb {% endtrans %}  </a></span><br>
                    <span><a href="{{  path('main_SecuriteInfo') }}"> {% trans from 'ctinav' %} secuInfo {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_CoursParticuliersdInfo') }}"> {% trans from 'ctinav' %} coursPartiInfo {% endtrans %} </a></span><br>

                </p>

            </div>
        </li>

        <li class="list-item-crsVacc">
            <div class="ftitle"><h2><a href="{{  path('main_CoursDeVacances') }}"> {% trans from 'ctinav' %} CV {% endtrans %} </a></h2></div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>CHOISIR LA LANGUE</h2></div>
                <p class="fcontent">
                    <a class="dropdown-item" href="{{ path('app_locale_fr') }}">{% trans from 'home' %} language.fr {% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('app_locale_en') }}">{% trans from 'home' %} language.en {% endtrans %}</a>
                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2>CONNEXION</h2></div>
                <p class="fcontent">
                    {% if login is defined %}

                        <a href="{{ path('main_register') }}" class="btn btn-primary my-2 my-sm-0">
                            {% trans from 'register' %} nav.register {% endtrans %}
                        </a>

                    {% else %}
                        <!--
                <span id="nav_member_question">{% trans from 'login' %} nav.member_question {% endtrans %}</span>
                -->
                        <a href="{{ path('main_login') }}" class="btn btn-primary my-2 my-sm-0">
                            {% trans from 'login' %} nav.login {% endtrans %}
                        </a>
                    {% endif %}
                </p>

            </div>
        </li>

    </ul>

</div>

</div>