{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'about' %} about.block14 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'about' %} about.block15 {% endtrans %}" >
    <meta charset="utf-8">

{% endblock %}
{% block title %}
    {% trans from 'about' %} about.title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }

        .manuels-img {
            width: 18%;
        }
        .manuels-img {
            width: 18%;
        }
        .horaire {
            display: inline-block;
            padding: 1%;
            margin: 1%;
            background: white;
        }
        .baniere{
            width: 100%;
            max-height: 400px;
        }
        .baniere-img{
            width: 40%;
        }
        .baniere-msg {
            width: 55%;
            float: right;
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            font-size: 150%;
            padding: 3%;
        }

        .sous-menu {
            background-color: #f16e00;
            color: white;
            font-size: 200%;
            text-align: center;
        }
        .but {
            color: #221199;
        }
        table.table01 {
            width: 90%;
            color: #f16e00;
            background-color: white;

        }


        table.table01 td,th {
            padding: 2%;
            margin: 5px!important;
            border: 5px solid transparent!important;
        }

        .table02 {
            width: 100%;
            background-color: #f16e00;
            color: white;
            border-collapse: separate;
        }

        .table03 {
            width: 100%;
            background-color: #0000cc;
            color: white;
            border-collapse: separate;
        }

        .abc {
            border: 5px solid transparent;
        }



    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}


{% endblock %}

{% block  mainLg %}

    <div id="main_home">

        <div class="sous-menu">
            Pour les Entreprises
        </div>


        <div class="flex-contain">

            <div class="left-nav">
                <div class="left-nav-contain">
                    <div class="titre_lef-nav">FORMATIONS CTI Cameroon</div>

                    <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-an"><h3>Anglais</h3></div>
                    <div class="sous-titre-contenu" id="sous-titre-anglais">
                        <div class="left-nav-text">
                            Nous dispensons des cours d’Anglais général pour tous les niveaux.
                            Que vous soyez élève, étudiant, chercheur d’emplois ou même travailleurs les différents cours
                            d’Anglais que nous dispensons au Churchill Training Institute permettrons d’améliorer ou de perfectionner vos connaissances en anglais,
                            vous donnant ainsi un atout supplémentaire pour votre progrès professionnel ou académique. <br>
                        </div>
                        <div class="left-nav-links">
                            <a href="">Pour adultes</a>

                            <a href="">Pour enfants et jeunes</a>

                            <a href="">Préparation aux examens</a>
                            <a href="">Cours aux particuliers</a>

                        </div>
                    </div>
                    <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-al"><h3>Cours d'Allemand</h3></div>
                    <div class="sous-titre-contenu" id="left-nav-al-cont">
                        <div class="left-nav-text">
                            Le Churchill Training Institute offres des cours de langue allemande aux jeunes souhaitant étudier en Allemagne.
                            Nous préparons les candidats aux examens de langue allemande Nécessaires pour obtenir un visa étudiant ( Goethe-Zertifikat A1: Start Deutsch1, Goethe-Zertifikat B1, Goethe-Zertifikat B2, Test-DaF) offerts par l’Institut-Goethe à Yaoundé.<br>
                        </div>
                        <div class="left-nav-links">
                            <a href="{{ path('main_allemand') }}">En savoir plus</a>

                        </div>
                    </div>
                    <div class="sous-titre-lef-nav" id="sous-titre-lef-nav-it"><h3>Cours d'Informatique</h3></div>
                    <div class="sous-titre-contenu" id="left-nav-it-cont">
                        <div class="left-nav-text">
                            Le CTI offre des formations de haute qualité dans plusieurs domaines de l’informatique<br>

                        </div>
                        <div class="left-nav-links">
                            <a href="">Secrétariat bureautique</a>

                            <a href="">Infographie, Design Artistique et Média</a>

                            <a href="">Développement d’Applications Web</a>
                            <a href="">Sécurité informatique</a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="main-contain-middle">

                <div class="baniere cat-container">

                    <img class="baniere-img categorie" src="{{ asset('data/img/employe1.jpg') }}" alt="">

                    <div class="baniere-msg categorie ">
                        <h2>{% trans from 'anglais' %} prEntrp {% endtrans %}</h2> <BR>
                        {% trans from 'anglais' %} object2 {% endtrans %}
                    </div>

                    <!--
                    <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">

                        {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
                    </div>
-->

                </div>

                <div class="row line">
                    <div>  {% trans from 'anglais' %} serviceENTREP {% endtrans %} </div>

                </div>



                <div class="cat-container">
                    <div class="">
                        <div class="category-title">
                            <h3>{% trans from 'ctihome' %} prochaineRentree {% endtrans %}:
                                {% trans from 'ctihome' %} debutDesCours {% endtrans %}
                            </h3>
                        </div>
                        <div class="datecours">
                            <div class="annonce-inscription">
                                Les Inscriptions sont en cour.s Il y a encore quelques places disponibles.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="cat-container">
                    <div class="categorie">
                        <div class="category-title">
                            <h3> {% trans from 'anglais' %} Des Formules adaptées à vos besoins {% endtrans %} </h3>
                        </div>


                        <div class="datecours">
                            {% trans from 'anglais' %} Nos formules pour entreprise prennent en compte votre secteur d'activité et votre
                            disponibilité.

                            {% endtrans %}
                        </div>

                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3> {% trans from 'anglais' %} Programmes sur mésure {% endtrans %} </h3>
                        </div>
                        <div class="datecours">
                            {% trans from 'anglais' %} Vous beneficierez d'un programme taillé sur mésure, répondant aux besoins
                            à cours et à moyen terme de votre entreprise.
                            {% endtrans %}
                        </div>

                    </div>


                    <div class="categorie">
                        <div class="category-title">
                            <h3>Approche Coaching </h3>
                        </div>
                    </div>
                    <div class="categorie">
                        <div class="category-title">
                            <h3>Lieux des Cours </h3>
                        </div>
                        Vous pouvez bénéficier d'une formation au sein de votre entreprise.
                    </div>
                </div>


                <!--
                                <div class="cat-container">
                                    <div class="categorie">
                                        <div class="category-title">
                                            <h3><a href="{{ path('main_allemand') }}"> {% trans from 'anglais' %} FReg {% endtrans %} </a></h3>
                                        </div>
                                        <div class="importante"> Deux fois / semaine </div>

                                        <div class="datecours">
                                            {% trans from 'anglais' %} detail0 {% endtrans %}
                                        </div>

                                        <div class="annonce-inscription but">
                                            La  formation Régulière  est  subdivisée en 6 niveaux  et permet à l’apprenant de parler
                                            couramment l’Anglais dans tous les domaines de la vie.
                                        </div>

                                        <div class="category-desktop-contain">
                                            <table class="table01">
                                                <tr>
                                                    <th> SIX Niveaux  </th>
                                                    <td> A1, A2, B1, B2, C1, C2 </td>
                                                </tr>
                                                <tr>
                                                    <th> Préparation aux tests  </th>
                                                    <td> IELTS, TOEFL,TOEIC </td>
                                                </tr>
                                                <tr>
                                                    <th> Durée de la formation  </th>
                                                    <td> 5 semaines par niveaux </td>
                                                </tr>
                                                <tr>
                                                    <th> Fréquence  </th>
                                                    <td> 2 fois par semaine </td>
                                                </tr>

                                            </table>
                                        </div>

                                    </div>
                                    <div class="categorie">
                                        <div class="category-title">
                                            <h3><a href="{{ path('main_allemand') }}"> {% trans from 'anglais' %} FRegAcc {% endtrans %} </a></h3>
                                        </div>
                                        <div class="importante"> Trois fois / semaine </div>

                                        <div class="datecours">
                                            {% trans from 'anglais' %} detail2 {% endtrans %}
                                        </div>

                                        <div class="annonce-inscription but">
                                            Cette seconde option permet à l’apprenant de parler l’anglais dans un délai plus bref et
                                            dans  tous les domaines de la vie.
                                        </div>

                                        <div class="category-desktop-contain">
                                            <table class="table01">
                                                <tr>
                                                    <th> SIX Niveaux  </th>
                                                    <td> A1, A2, B1, B2, C1, C2 </td>
                                                </tr>
                                                <tr>
                                                    <th> Préparation aux tests  </th>
                                                    <td> IELTS, TOEFL,TOEIC </td>
                                                </tr>
                                                <tr>
                                                    <th> Durée de la formation  </th>
                                                    <td> 5 semaines par niveaux </td>
                                                </tr>
                                                <tr>
                                                    <th> Fréquence  </th>
                                                    <td> 3 fois par semaine </td>
                                                </tr>

                                            </table>
                                        </div>

                                    </div>


                                    <div class="categorie">
                                        <div class="category-title">
                                            <h3><a href="{{ path('main_informatique') }}">HORAIRES DE COURS</a></h3>
                                        </div>

                                        Choisissez vos heures de cours en fonction de votre disponibilité.

                                        <div class="">
                                            <div class=" horaire ">
                                                <div class="news-title"><h4>Matinées</h4></div>

                                                <div class="news-title"><p>08H00 - 10h00</p></div>
                                            </div>

                                            <div class=" horaire ">
                                                <div class="news-title"><h4>Après-midi</h4></div>

                                                <div class="news-title"><p>14H00 - 16h00</p></div>
                                            </div>

                                            <div class="horaire">
                                                <div class="news-title"><h4>Cours du Soirs</h4></div>

                                                <div class="news-title"><p>18H30 - 20h30</p></div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="categorie">
                                        <div class="category-title">
                                            <h3><a href="{{ path('main_anglais') }}">Cours aux particuliers</a></h3>
                                        </div>
                                        Cours basés sur des contenus particuliers, destinés à des groupes-cibles spéciaux ou pour
                                        l’exercice d’aptitudes uniques: <br><br>
                                        N’hésitez pas à nous contacter si vous souhaitez suivre une formation à la carte dans un
                                        de nos domaines de compétence.
                                    </div>
                                </div>
                -->


                <!--
        <div class="row section admission">
            <h2 class="bloc-title">  {% trans from 'allemand' %} coursDispo {% endtrans %} </h2>
            <div class="inner padding">
                <div class="flex">
                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat A1</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZA1</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gza1 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat A2</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZA2</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gza2 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat B1</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZB1</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gzb1 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">Goethe-Zertifikat B2</div>
                        <h3>
                            <i class="icon-fleche-droite grand"></i>
                            <span class="adm-niv">GZB2</span>
                            <i class="icon-fleche-gauche grand"></i></h3>
                        <div class="content">
                            {% trans from 'allemand' %} gzb2 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'allemand' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>


                </div>
            </div>

        </div>
        -->




                <div class="separator"></div>




            </div>
        </div>



        <div class="section programmes-main-div ">
            <h2 class="bloc-title">{% trans from 'about' %} about.news {% endtrans %}</h2>

            <div class="inner padding">
                <div class="flex">
                    <div class="hexagon degrade admission-hexagon">
                        <div class="news-title"><h4>{% trans from 'ctihome' %} english {% endtrans %}</h4></div>

                        <p style="text-align: left">{% trans from 'ctihome' %} englishNews {% endtrans %}</p>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="news-title"><h4>{% trans from 'ctihome' %} german {% endtrans %}</h4></div>
                        <p style="text-align: left">{% trans from 'ctihome' %} allemandNews {% endtrans %}</p>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="news-title"><h4>{% trans from 'ctihome' %} computing {% endtrans %}</h4></div>
                        <p style="text-align: left">{% trans from 'ctihome' %} infoNews {% endtrans %}</p>
                    </div>

                </div>
            </div>

        </div>








    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}