
<div id="cti-footer" xmlns="http://www.w3.org/1999/html">
    <div class="social-div">
        <div class="social-div-contain">
            <div class="social-div-item"><a href="https://web.facebook.com/Churchill-Training-Institute-1735691439801144/?hc_ref=ARSf4cLYwdxrb5eS3qrz7hXIebRYCkmAAFmm1oLaSgQTVt475T_bdBYtY6xF7r83NwI"> <i class="fa fa-facebook-square" style="font-size:20px;color:mediumblue"></i> <span class="item-text">CTI-Cameroon</span></a></div>

            <div class="social-div-item"><a class="liens-footer-top" href=""><i class="fa fa-twitter" style="font-size:20px;color:blue"></i> <span class="item-text"><span class="item-text">CTI-Cameroon</span></span></a></div>

            <div class="social-div-item"><a class="liens-footer-top" href="https://plus.google.com/u/0/communities/111707137295848953559"><i class="fa fa-google-plus" style="font-size:20px;color:red"></i> <span class="item-text"><span class="item-text">CTI-Cameroon</span></span></a></div>

            <div class="social-div-item"><a class="liens-footer-top" href="https://www.linkedin.com/company/churchill-training-institute/"><i class="fa fa-linkedin" style="font-size:20px;color:cornflowerblue"></i> <span class="item-text">CTI-Cameroon</span></a></div>
            <div class="social-div-item"><a class="liens-footer-top" href="https://www.youtube.com/channel/UCgS2qhazDrevf41ctGbqteg/featured"><i class="fa fa-youtube" style="font-size:20px;color:red"></i> <span class="item-text">CTI-Cameroon</span></a></div>

        </div>
    </div>



    <ul class="list">
        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2> {% trans from 'ctifooter' %} langAngl {% endtrans %} </h2></div>
                <p class="fcontent">
                    <span><a class="liens_footer" href="{{ path('main_anglais') }}"> {% trans from 'ctifooter' %} coursAngl {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href=""> {% trans from 'ctifooter' %} enseignerANGLAIS {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href=""> {% trans from 'ctifooter' %} examANGLAIS {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href=""> {% trans from 'ctifooter' %} inscrLIGNE {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href=""> {% trans from 'ctifooter' %} pourquoiANGLAIS {% endtrans %} </a></span><br>

                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2> {% trans from 'ctifooter' %} langALL {% endtrans %} </h2></div>
                <p class="fcontent">
                    <span><a class="liens_footer" href="{{ path('main_allemand') }}"> {% trans from 'ctifooter' %} coursAllemand {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href=""> {% trans from 'ctifooter' %} enseignerAllemand {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href=""> {% trans from 'ctifooter' %} examALLEMAND {% endtrans %} </a></span><br>

                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2> {% trans from 'ctifooter' %} informatique {% endtrans %} </h2></div>
                <p class="fcontent">

                    <span><a class="liens_footer" href="{{  path('main_LogicielsBureautique') }}"> {% trans from 'ctifooter' %} bureautique {% endtrans %}  </a></span><br>
                    <span><a class="liens_footer" href="{{  path('main_Design') }}"> {% trans from 'ctifooter' %} design {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href="{{  path('main_Internet') }}"> {% trans from 'ctifooter' %} internet {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href="{{  path('main_SecuriteInfo') }}"> {% trans from 'ctifooter' %} secuINFO {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href="{{  path('main_AppliWeb') }}"> {% trans from 'ctifooter' %} appWEB {% endtrans %}  </a></span><br>
                    <span><a class="liens_footer" href="{{  path('main_homepage') }}"> {% trans from 'ctifooter' %} pourquoiCTI {% endtrans %} </a></span><br>
                </p>

            </div>
        </li>

        <li class="list-item">
            <div class="list-content">
                <div class="ftitle"><h2> {% trans from 'ctifooter' %} ctiQUI {% endtrans %} </h2></div>
                <p class="fcontent">
                    <span><a href=""> {% trans from 'ctifooter' %} mission {% endtrans %} </a></span><br>
                    <span><a href="{{  path('main_contactEtHoraires') }}"> {% trans from 'ctifooter' %} contactEtHORAIRES {% endtrans %} </a></span><br>
                    <span><a href=""> {% trans from 'ctifooter' %} equipeCTI {% endtrans %} </a></span><br>
                    <span><a href=""> {% trans from 'ctifooter' %} carriere {% endtrans %} </a></span><br>
                    <span><a class="liens_footer" href=""> {% trans from 'ctifooter' %} partners {% endtrans %} </a></span><br>
                </p>

            </div>
        </li>

    </ul>
    <div class="copyright-div">
        <span class="copy copyright-div-item">© 2018 CTI Institute. All rights reserved</span>
        <div class="footer-botom-items copyright-div-item">
            <span class="link-footer-botom"><a  href=""> {% trans from 'ctifooter' %} legal {% endtrans %} </a></span>
            <span class="link-footer-botom"><a  href=""> {% trans from 'ctifooter' %} secuDONNEES {% endtrans %} </a></span>
            <span class="link-footer-botom"><a  href=""> {% trans from 'ctifooter' %} inFOS {% endtrans %} </a></span>
            <span class="link-footer-botom"><a  href=""> {% trans from 'ctifooter' %} ReseauxSOCIAUX {% endtrans %} </a></span>
            <span class="link-footer-botom"><a  href=""> Newsletter </a></span>
        </div>

    </div>

</div>
