<div id="cti-nav">
    <div class="ctic-nav" >
        <div class="nav-and-logo">
            <div class="logo">
                <img src="{{ asset('data/img/logo3.JPG') }}">
            </div>

            <div class="nav_bar">
                <div class="slogan">{% trans from 'ctinav' %} slogan {% endtrans %}</div>
                <div class="nav-items">
                    <ul>
                        <li>
                            <a href="{{ path('main_homepage') }}" class="dropbtn">
                                {% trans from 'ctinav' %} CTI-CM {% endtrans %}
                            </a>

                        </li>
                        <li class="ctidropdown">
                            <a href="{{ path('main_anglais') }}" class="dropbtn">
                                {% trans from 'ctinav' %} m_anglais {% endtrans %}
                            </a>

                            <div class="dropdown-content">
                                <a href="{{  path('main_CoursIntensifs') }}"> {% trans from 'ctinav' %} CI {% endtrans %} </a>
                                <a href="{{  path('main_FormationContinue') }}"> {% trans from 'ctinav' %} FC {% endtrans %} </a>
                                <a href="{{  path('main_PourEntreprises') }}"> {% trans from 'ctinav' %} PE {% endtrans %} </a>
                                <a href="{{  path('main_CoursDeVacances') }}"> {% trans from 'ctinav' %} CV {% endtrans %} </a>
                                <a href="{{  path('main_CoursParticulier') }}"> {% trans from 'ctinav' %} CP {% endtrans %} </a>
                            </div>

                        </li>

                        <li class="ctidropdown">
                            <a href="{{ path('main_allemand') }}" class="dropbtn">
                                {% trans from 'ctinav' %} m_allemand {% endtrans %}
                            </a>

                            <div class="dropdown-content">
                                <a href="{{  path('main_etudierEnAllemagne') }}"> {% trans from 'ctinav' %} etudeAll {% endtrans %} </a>
                                <a href="{{  path('main_regroupementFamilial') }}"> {% trans from 'ctinav' %} regrFamill {% endtrans %} </a>
                                <a href="{{  path('main_CoursParticuliersdAll') }}"> {% trans from 'ctinav' %} coursParti {% endtrans %} </a>
                                <!--
                                <a href="{{  path('main_CoursSpecialise') }}"> {% trans from 'ctinav' %} coursSpec {% endtrans %} </a>
                                -->
                            </div>
                        </li>


                        <li class="ctidropdown">
                            <a href="{{ path('main_informatique') }}" class="dropbtn">
                                {% trans from 'ctinav' %} m_informatique {% endtrans %}
                            </a>

                            <div class="dropdown-content">
                                <a href="{{  path('main_LogicielsBureautique') }}"> {% trans from 'ctinav' %} logiBur {% endtrans %} </a>
                                <a href="{{  path('main_Design') }}"> {% trans from 'ctinav' %} art {% endtrans %} </a>
                                <a href="{{  path('main_Internet') }}"> {% trans from 'ctinav' %} internet {% endtrans %} </a>
                                <a href="{{  path('main_AppliWeb') }}"> {% trans from 'ctinav' %} appWeb {% endtrans %}  </a>
                                <a href="{{  path('main_SecuriteInfo') }}"> {% trans from 'ctinav' %} secuInfo {% endtrans %} </a>
                                <a href="{{  path('main_CoursParticuliersdInfo') }}"> {% trans from 'ctinav' %} coursPartiInfo {% endtrans %} </a>
                            </div>
                        </li>

                        <li class="ctidropdown">
                            <a href="{{  path('main_CoursDeVacances') }}"> {% trans from 'ctinav' %} CV_T {% endtrans %} </a>

                        </li>

                        <li class="ctidropdown">
                            <a href="{{ path('main_contactEtHoraires') }}" class="dropbtn">
                                {% trans from 'ctinav' %} m_contact {% endtrans %}
                            </a>
                            <!--
                            <div class="dropdown-content">
                                <a href="#">Etudiant</a>
                                <a href="#">Enseignant</a>
                            </div>
                            -->

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
