{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'about' %} about.block14 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'about' %} about.block15 {% endtrans %}" >
    <meta charset="utf-8">

{% endblock %}
{% block title %}
    {% trans from 'cti' %} informatique.title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }
    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:CTI:first-nav.html.twig' %}
    {% include 'MainBundle:CTI:mobile-nav.html.twig' %}
    {% include 'MainBundle:Default:cti-navbar.html.twig' %}


{% endblock %}

{% block  mainLg %}

    <div id="main_home">




        <div class="message_and_image">
            <div class="message_on_image">
                {% trans from 'informatique' %} text1 {% endtrans %}
            </div>

            <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">
                <img  id="top_img" src="{{ asset('data/img/about4.jpg') }}" alt="">
                {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
            </div>
        </div>

        <div class="row line">
            <div>  {% trans from 'informatique' %} text2 {% endtrans %} </div>

        </div>


        <div class="row section admission">
            <h2 class="bloc-title">  {% trans from 'informatique' %} coursDispo {% endtrans %} </h2>
            <div class="inner padding">
                <div class="flex">
                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">  {% trans from 'informatique' %} secrBuro {% endtrans %} </div>

                        <div class="content">
                            {% trans from 'informatique' %} detail-1 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'informatique' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">  {% trans from 'informatique' %} Infograph {% endtrans %} </div>

                        <div class="content">
                            {% trans from 'informatique' %} detail-2 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'informatique' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="triangle-top"></div>
                        <div class="titre">  {% trans from 'informatique' %} devAppli {% endtrans %} </div>

                        <div class="content">
                            {% trans from 'informatique' %} detail-3 {% endtrans %}
                        </div>
                        <a class="myButton" href="javascript:;"> {% trans from 'informatique' %} bac4 {% endtrans %} </a>
                        <div class="triangle-bottom"></div>
                    </div>


                </div>
            </div>

        </div>

        <!-- Paralax area -->

        <!---
        <div class="message_and_image">


            <div class="message_on_image">
                {% trans from 'cti' %} informatique.text1 {% endtrans %}
            </div>

            <div id="about_top" style="background-image:url('{{ asset('data/img/about4.jpg') }}')">
                <img  id="top_img" src="{{ asset('data/img/about4.jpg') }}" alt="">
                {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
            </div>
        </div>
        -->

        <div class="row line">
            <div> {% trans from 'about' %} about.title1 {% endtrans %} : {% trans from 'about' %} about.block14 {% endtrans %} </div>

        </div>


        <div class="section admission parallax-container ">
            <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('data/img/computerstudents2.jpg') }}" data-position="left top">


            </div>

            <div class="edito supinfo-slogan">
                <div class="triangle-left"></div>
                <div class="contenu">
                    <div class="supinfo-slogan-titre">CTI: {% trans from 'informatique' %} slogan1 {% endtrans %}</div>
                    <p class="home-slogan">{% trans from 'informatique' %} slogan2 {% endtrans %}</p>
                    <p><a href="">{% trans from 'informatique' %} slogan3 {% endtrans %}</a></p>

                </div>

            </div>
        </div>
        <div class="separator"></div>





        <div class="separator"></div>


        <div class="section programmes-main-div">
            <h2 class="bloc-title">{% trans from 'about' %} about.news {% endtrans %}</h2>

            <div class="inner padding">
                <div class="flex">
                    <div class="hexagon degrade admission-hexagon">
                        <div class="news-title"><h4>{% trans from 'ctihome' %} english {% endtrans %}</h4></div>

                        <p style="text-align: left">{% trans from 'ctihome' %} englishNews {% endtrans %}</p>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="news-title"><h4>{% trans from 'ctihome' %} german {% endtrans %}</h4></div>
                        <p style="text-align: left">{% trans from 'ctihome' %} allemandNews {% endtrans %}</p>
                    </div>

                    <div class="hexagon degrade admission-hexagon">
                        <div class="news-title"><h4>{% trans from 'ctihome' %} computing {% endtrans %}</h4></div>
                        <p style="text-align: left">{% trans from 'ctihome' %} infoNews {% endtrans %}</p>
                    </div>

                </div>
            </div>

        </div>



    </div>
{% endblock %}

{% block footer %}
    {% include 'MainBundle:Default:cti-footer.html.twig' %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}